<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>airez</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginVerification</display-name>
    <servlet-name>loginVerification</servlet-name>
    <servlet-class>com.airez.loginVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginVerification</servlet-name>
    <url-pattern>/loginVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.airez.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.airez.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearch</display-name>
    <servlet-name>FlightSearch</servlet-name>
    <servlet-class>com.airez.FlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearch</servlet-name>
    <url-pattern>/FlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payement</display-name>
    <servlet-name>payement</servlet-name>
    <servlet-class>com.airez.payement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payement</servlet-name>
    <url-pattern>/payement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>com.airez.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>account</display-name>
    <servlet-name>account</servlet-name>
    <servlet-class>com.airez.account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>account</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
</web-app>